body {
    background-color: #244855;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;

}

button {
    background-color: rgb(26, 156, 243);
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    margin-top: 15px;
    width: 80px;
    height: 35px;

}

.button-CA{
    width: 85px;
    height: 50px;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(4, 112, 145)
}

.title {
    text-align: centre;
    color: white;
    margin: 20px 10px
}

.form-box{
    background-color:white;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;   
    width: 250px;
    height: 125px;
    text-align: center;
    color: black ;
    
}

.form-box2 {
    display: flex;                
    justify-content: center;      
    align-items: center;          
    background-color: white;
    width: 500px;
    height: 125px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    text-align: center; 
    margin: 20px auto;
    margin-top: 60px;
}

.form-box input{
    width: 200px;

}



.signup{
    background-color: white;
    color: blue;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 40px auto;
    border-radius: 10px;
    padding: 7px;
}

.logout {
  display: flex; 
  flex-direction: row;               
  justify-content: flex-start;    
  align-items: flex-start;      
  height: 100px;                
  border: none; 
    
}

.parent-container1 {
    display: flex;                
    justify-content: flex-start;      
    align-items: flex-start;   
    flex-direction: column;

}

.parent-container2 {
    display: flex;                
    justify-content: center;      
    align-items: center;  
    text-align: center; 
    flex-direction: column;

}


.child-container {
    
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 20px 0;
    text-align: center;
    color: rgb(1, 13, 40);
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}

.child-container-button {
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 20px 0;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px; 
}



.child-container input {
    margin: 40px auto
}

.btn {
    width: 175px;
    height: 110px;
    font-size: 30px;
    padding: 30px 60px;
    display: flex;
    justify-content: center;  
    align-items: center;  
}