{% extends "base.html" %}

{% block content %}
    <div class="parent-container2">
        <div class="child-container">
            <h2>Add New Task</h2>
        </div>
        

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="error">{{msg}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <div class="child-container">
            <form action="/create_task" method="POST">
                <label for="name" >Task Name:</label>
                <input name="name" id="name" type="text" required>

                <label for="start-date">Start Date: </label>
                <input name="start-date" id="start-date" type="date" required>

                <label for="end-date">End Date:</label>
                <input name="end-date" id="end-date" type="date" required>

                <button type="submit" class="button2">Create New Task</button>


            </form>
        </div>
    </div>
{% endblock %}