{% extends "base.html" %} 

{% block title %}
    Creating User Page
{% endblock %}

{% block content %}

<div>
    {% if error %}
        <p style="color:red">{{error}}</p>
    {% endif %}
</div>

<div class="title">
    <h2>Create Account</h2>
</div>

<div>
    <form class="form-box"   action="/register" method="POST">
        <label for="email">Email</label>
        <input name="email" type="email" id="email" required>

        <label for="password">Password</label>
        <input name="password" type="password" id="password" required>

        <button  class="button-CA" type="submit">Create Account</button>
    </form>
</div>
{% endblock %}
