{% extends "base.html" %} 

{% block title %}
    Creating User Page
{% endblock %}

{% block content %}

{% if error %}
    <p class="txt" style="color:red">{{error}}</p>
{% endif %}

<h2>Create Account</h2>
<form action="/register" method="POST">
    <label class="txt" for="email">Email</label>
    <input class="box" name="email" type="email" id="email" required>

    <label class="txt" for="password">Password</label>
    <input class="box" name="password" type="password" id="password" required>
    <button class="btn" type="submit">Create Account</button>
</form>

{% endblock %}