{% extends "base.html" %}

{% block content %}
    <div class="parent-container1">
        {% if msg %}
            <h2 class="form-box2">{{msg}}</h2>
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="success">{{msg}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <div class="title-2">
            <h3>Current Tasks:</h3>
        </div>
        <div class="tasks">
            {% if tasks %}
                {% for task in tasks %}
                    <p>Task {{loop.index}}:  Task: {{task["task"]}}  |  Duration: {{task["duration"]}} mins </p>
                {% endfor %}
            {% else %}
                <p>No tasks for today.</p>
            {% endif %}
        </div>

        <div class="child-container-button" >
            <form action="/logout" method="POST">
                <button class="btn" type="submit">Logout</button>
            </form>
        </div>

        <div class="child-container-button">
            <form action="/add_task" method="POST">
                <button class="btn" type="submit">Add Timetable</button>
            </form>
        </div>

        <div class="child-container-button">
            <form action="/delete_task" method="POST">
                <button class="btn" type="submit">Delete Timetable</button>
            </form>
            
        </div>
    </div>
{% endblock %}


