{% extends "base.html" %}

{% block content %}
    <div class="parent-container1">
        {% if msg %}
            <h2 class="form-box2">{{msg}}</h2>
        {% endif %}

        <div class="child-container-button" >
            <form action="/logout" method="POST">
                <button class="btn" type="submit">Logout</button>
            </form>
        </div>

        <div class="child-container-button" 
            <form action="/add_task" method="POST">
                <button class="btn" type="submit">Add Timetable</button>
            </form>
        </div>
    </div>
{% endblock %}


