{% extends "base.html" %}

{% block content %}
    <div class="parent-container1">
        {% if msg %}
            <h2 class="form-box2">{{msg}}</h2>
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="success">{{msg}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <div class="child-container">
            {% if tasks %}
                {{tasks}}
            {% endif %}
        </div>
        
        <div class="child-container-button" >
            <form action="/logout" method="POST">
                <button class="btn" type="submit">Logout</button>
            </form>
        </div>

        <div class="child-container-button">
            <form action="/add_task" method="POST">
                <button class="btn" type="submit">Add Timetable</button>
            </form>
        </div>
    </div>
{% endblock %}


