{% extends "base.html" %}

{% block content %}

    <div class="parent-container2">
        <div class="child-container">
            <h2>Current Tasks:</h2>
        </div>
        {% if tasks %}
            {% for task in tasks %}
                <div class="child-container">
                    <form action="/delete" method="POST">
                        <p>{{loop.index}}:     {{task["task"]}}</p>
                        <input type="hidden" name="task" value="{{task["task"]}}">
                        <button class="button">Delete</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <div class="child-container">
                <p>No tasks to delete.</p>
            </div>
        {% endif %}


        
        <div>
            <form action="/dashboard" method="GET">
                <button type="submit" class="dashboard-button">Dashboard</button>
            </form>
        </div>

    </div>
{% endblock %}