{% extends "base.html" %}

{% block title %}
    The first prototype of chinedu's revision tracker
{% endblock %}

{% block content %}

{% if error %}
    <p class="txt" style="color: red;">{{error}}</p>
{% endif %}


<h3>Login in to your account</h3>
<form method="POST" action="/login">
    <label class="txt" for="email">Email</label>
    <input  class="box" type="email" name="email" id="email" required>

    <label class="txt" for="password">Password</label>
    <input class="box" type="password" name="password" id="password" required>
    <button class="btn" type="submit">Login</button>
</form>


<a class="txt" href="/create_user">New to my app. Sign up.</a>
{% endblock %}