<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="static/CSS/style.css">
    <title>My Page</title>
</head>
<body>
    <nav>
        <button  id="dashboard_btn"   >Dashboard</button>
        <button  id="add_task_btn"    >Add Task</button>
    </nav>


    <div id="message"></div>
    
    <div class="section" id="dashboard">
        <h1>Dashboard</h1>
        <ol id="task_list">Tasks:</ol>
    </div>


    <div class="section" id="add_task">
        <label for="name" >Task Name:</label>
        <input name="name" id="name" type="text" required>

        <label for="start-date">Start Date: </label>
        <input name="start-date" id="start-date" type="date" required>

        <label for="end-date">End Date:</label>
        <input name="end-date" id="end-date" type="date" required>

        <button id="submit_btn"  >Create New Task</button>
    
    </div>





</body>
<script  type="module" src="static/JS/main.js"></script>
</html>