<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="static/CSS/style.css">
    <title>My Page</title>
</head>
<body>
    <nav>
        <button  id="dashboard_btn"   >Dashboard</button>
        <button  id="add_task_btn"    >Add Task</button>
        <button  id="delete_task_btn" >Delete Task</button>
    </nav>

    <div class="section" id="dashboard"></div>
    <div class="section" id="add_task"></div>
    <div class="section" id="delete_task"></div>




</body>
<script  type="module" src="static/JS/main.js"></script>
</html>