<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="static/CSS/style.css">
    <title>My Page</title>
</head>
<body>

    <div class="container">
        <nav>
            <button  id="dashboard_btn"   >Dashboard</button>
            <button  id="add_task_btn"    >Add Task</button>
        </nav>
        <ul id="msg_list" class="active_msg"></ul>

        <div class="section" id="dashboard">
            <div class="content">
                <h1 class="title" >Dashboard</h1>
                <label for="search_bar" class="search">Search:</label>
                <input  class="search_input"   type="text"  id="search_bar" placeholder="Search Tasks...">
                <h3>Tasks:</h3>
                <ol class="tasks"     id="task_list"></ol>
            </div>
        </div>


        <div class="section" id="add_task">
            <div class="content">
                <h1 class="title">Add Task</h1>
                <label for="name" >Task Name:</label>
                <input name="name" id="name" type="text" placeholder="Add Task...">

                <label for="end-date">End Date:</label>
                <input name="end-date" id="end-date" type="date" required>

                <button id="submit_btn"  >Create New Task</button>
            </div>
        </div>


        <a href="/">Logout</a>
        <div>
            <button id="delete_account_btn">Delete Account</button>
        </div>

    </div>

</body>
<script  type="module" src="static/JS/main.js"></script>
</html>