<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="static/CSS/style.css">
    <title>My Todo App</title>
</head>
<body>

    <div class="container">
        <div class="content">

            <h3 class="landing_title">Login to your account</h3>

            {% if error %}
                <p style="color: red;">{{error}}</p>
            {% endif %}

            <form class="form" method="POST" action="/login">

                <div class="landing_input_element">
                    <label for="email" class="landing_sub_title">Email</label>
                    <input class="landing_input" type="email" name="email" id="email" required>
                </div>

                <div class="landing_input_element">
                    <label for="password" class="landing_sub_title">Password</label>
                    <input class="landing_input" type="password" name="password" id="password" required>
                </div>

                <button class="crud_btns" type="submit">Login</button>

            </form>

            <div class="signup">
                <a href="/create_user">New to my app. Sign up.</a>
            </div>

        </div>

    </div>

</body>
</html>