{% extends "base.html" %}

{% block content %}

<h1>Welcome {{ session[username]["name"] }}</h1>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

<form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <button type="submit">Add new file</button>
</form>

<form action="{{ url_for('display') }}" method="GET">
    <button type="submit">Display files</button>
</form>

<form action="{{ url_for('switch_user') }}" method="POST">
    <button type="submit">Switch user</button>
</form> 

<form action="{{ url_for('new_user') }}" method="POST">
    <button type="submit">Create new user</button>
</form>

{% endblock %}
