.section {
    display: none;
    background-color: rgb(0, 180, 200);
    color: white;
}

nav button {
    margin-right: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(80, 80, 80);
    color: white;
}
nav button.active {
    background-color: #f33500ab;
    color: white;
}

.done {
    color: green;
    text-decoration: line-through;
    font-weight: bold;
}

.not_done {
    color: white;
    font-weight: bold;
}

.active_msg {
    display: block;
}

.page_not_active {
    display: none;
}

.page_active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(0, 180, 200);
    color: white;
    border-radius: 20px
}