/*  Page switching  */
.page_not_active {
    display: none;
}

.section.page_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(70, 193, 237);
    color: white;
    border-radius: 20px;
}

.section {
    display: none;
    background-color: transparent;
    color: black;
}

/* Navegation buttons */
nav button {
    margin-right: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(80, 80, 80);
    color: white;
    border-radius: 20px;
    display: block;
    margin: auto;
}
nav button.active {
    background-color: #f33500ab;
    color: white;
}


/* Showing Messages */
.done {
    color: green;
    text-decoration: line-through;
    font-weight: bold;
}

.not_done {
    color: black;
    font-weight: bold;
}

.active_msg {
    display: block;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
    color: rgb(70, 193, 237)
}



.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    color: rgb(70, 193, 237);
    padding: 30px;
    width:130px;
    height: 50px;
    
}

input {
    border-radius: 20px;
    padding: 15px;
    border: none;
    outline: 2px solid black;
}

#task_list li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: white;
    color: rgb(70, 193, 237);
    border-radius: 20px;
    margin: 10px;

}

.crud_btns {
    background-color: rgb(70, 193, 237);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    padding: 7px;
}